---
import type { Post } from "lib/type";
import { formatPublishedOn } from "lib/util";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();
---

<li class="py-8 sm:py-12 space-y-6 border-t border-neutral-700">
  <div>
    <h2
      class="text-amber-600 text-2xl font-bold tracking-tight hover:text-amber-650"
    >
      <a href={`/posts/${post.slug}`}>{post.data.title}</a>
    </h2>
    <div class="mt-2 text-neutral-400 text-sm">
      {formatPublishedOn(post.data.publishedOn)} &nbsp;·&nbsp; {Math.ceil(remarkPluginFrontmatter.minutesToRead)} min read
    </div>
  </div>
  <div class="prose text-neutral-300">{post.data.description}</div>
  <div>
    <a href={`/posts/${post.slug}`} class="hover:text-amber-600"> Read &rarr;</a>
  </div>
</li>
