---
import signature from "assets/signature.png";
import { Image } from "astro:assets";
import type { Post } from "lib/type";
import { formatPublishedOn } from "lib/util";

import BaseLayout from "./BaseLayout.astro";

export interface Props {
  frontmatter: Post["data"];
  minutesToRead: number;
}

const { frontmatter, minutesToRead } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <article>
    <div
      class="grid place-items-center mt-10 xl:pb-6 xl:border-b xl:border-b-neutral-700"
    >
      <div class="space-y-1 text-center">
        <div class="text-neutral-400">
          {formatPublishedOn(frontmatter.publishedOn)} &nbsp;·&nbsp; {
            Math.ceil(minutesToRead)
          } min read
        </div>
        <h1
          class="text-3xl font-extrabold tracking-tight text-amber-600 sm:text-5xl sm:leading-14 max-w-[23ch]"
        >
          {frontmatter.title}
        </h1>
      </div>
    </div>
    <div
      class="pt-10 pb-16 prose prose-invert mx-auto xl:prose-lg prose-code:before:content-none prose-code:after:content-none"
    >
      <slot />
      <Image
        src={signature}
        alt="Signature"
        height={120}
        width={131}
        class="ml-1"
      />
    </div>
  </article>
</BaseLayout>
